In [53]:
import random

In [1]:
# Replace "type here" on line 2 with "Hello World!"
print("Hello World!")

Hello World!

In [1]:
# You can assign "Hello World!" to the variable below on line 3.

my_text="Hello World"
print(my_text)

Hello World

In [2]:
# Type a couple of different values on line 9 inside the print function. Make sure they are separated by commas.    
    
print("oreo","guero","laika","tito","gato","lupito","coco","dean","riu","sammy","mina")

oreo guero laika tito gato lupito coco dean riu sammy mina

In [3]:
#Type here. Assign a number to the variable: glass_of_water

glass_of_water= 3

print("I drank", glass_of_water, "glasses of water today.")

I drank 3 glasses of water today.

testing 1 2 3

In [1]:
#Fill the print function so it prints glass_of_water

glass_of_water=3

glass_of_water=glass_of_water + 1


print(glass_of_water)

4

In [2]:
#Assign an integer to the variable, then print it.

men_stepped_on_the_moon= 12
print(men_stepped_on_the_moon)

12

In [3]:
#Type a couple of words or a short sentence for your variable, then print it.

my_reason_for_coding= "salud, dinero y amor"
print(my_reason_for_coding)

salud, dinero y amor

In [4]:
#Assign a float with 2 decimals to the variable below.
#If you don't wan't to search the value you can check out Hint 1.

global_mean_sea_level_2018=21

#Type your code here.
global_mean_sea_level_2018= 21.36


print(global_mean_sea_level_2018)

21.36

In [5]:
#Assign True or False to the variable below then print it.

staying_alive= True
print(staying_alive)

True

In [6]:
men_stepped_on_the_moon=12

#Type your code here.

answer_1= type(men_stepped_on_the_moon)

print(answer_1)

<class 'int'>

In [7]:
my_reason_for_coding="intergalactic travel"

#Type your code here.

answer_2= type(my_reason_for_coding)


print (answer_2)

<class 'str'>

In [8]:
global_mean_sea_level_delta_2018=21.36

#Type your code here.

answer_3= type(global_mean_sea_level_delta_2018)


print(answer_3)

<class 'float'>

In [9]:
staying_alive=True

#Type your code here.


answer_4= type(staying_alive)


print(answer_4)

<class 'bool'>

In [10]:
#my_grade variable is a string (because it's in quotes). On line 9, convert it to an integer.

my_grade="10"

answer_5= int(my_grade)


print(answer_5)

10

In [11]:
#my_grade variable is a string (because it's in quotes). On line 9, convert it to an integer.

my_grade="10"

answer_5= int(my_grade)


print(answer_5)
print(type(my_grade))
print(type(answer_5))

10
<class 'str'>
<class 'int'>

In [13]:
#my_temp variable is a float (because it has decimals). On line 9, convert it to an integer.

my_temp=97.70

answer_6= int(my_temp)


print(answer_6)
print(type(answer_6))

97
<class 'int'>

In [14]:
#shoe_price variable is a string (because it's in quotes). On line 9, convert it into a float.

shoe_price="69.99"

answer_7= float(shoe_price)


print(answer_7)

69.99

In [16]:
#GWP denotes the total economic activity created by the world population collectively in a year.

gross_world_product=84.84

gwp_str= str(gross_world_product)

answer_8="In 2018 gross product of the world (GWP) was " + gwp_str + " in trillion US dollars."


print(answer_8)
print(type(answer_8))

In 2018 gross product of the world (GWP) was 84.84 in trillion US dollars.
<class 'str'>

In [1]:
#Create an empty list on line 3 and assign its type on line 4

gift_list= list()

answer_1= type(gift_list)


print(answer_1)

<class 'list'>

In [2]:
#Create an empty dictionary on line 3 and assign its type on line 4

grocery_items= dict()

answer_2= type(grocery_items)


print(answer_2)

<class 'dict'>

In [3]:
#Create an empty tuple on line 3 and assign its type on line 4

bucket_list= tuple()

answer_2= type(bucket_list)


print(answer_2)

<class 'tuple'>

In [4]:
#Fill in the right side of equation on line 3 so that gift_list is assigned to a list with values in it.

gift_list= ["ipad", "cell phone", "oreo", "car"]
print(gift_list)

['ipad', 'cell phone', 'oreo', 'car']

In [5]:
#Fill in the right side of equation on line 3 so that grocery_list is assigned to a dictionary with values in it.

grocery_list= {"strawberries": 8,
               "leche": ["deslactosada", "light" , "entera"],
               "notas": "antes del anio nuevo",
               "cena":{"plato_1":"ensalada","plato_2":"spaguetti","plato_3":"romeritos"},
               "fecha": ("25 de diciembre")}
               
               

print(grocery_list)

{'strawberries': 8, 'leche': ['deslactosada', 'light', 'entera'], 'notas': 'antes del anio nuevo', 'cena': {'plato_1': 'ensalada', 'plato_2': 'spaguetti', 'plato_3': 'romeritos'}, 'fecha': '25 de diciembre'}

In [7]:
#Fill in the right side of equation on line 3 so that bucket_list is assigned to a tuple with values in it.

bucket_list= ("No morir", "adoptar otro gato", "ir al cine")
print(bucket_list)

('No morir', 'adoptar otro gato', 'ir al cine')

In [1]:
lst=[11, 100, 99, 1000, 999]
answer_1= lst[0]

print(answer_1)

11

In [2]:
lst=[11, 100, 101, 999, 1001]

print(lst[1])

100

In [3]:
lst=[11, 100, 101, 999, 1001]
#Type your answer here.

answer_1= lst[-1]

print(answer_1)

1001

In [4]:
gift_list=['socks', '4K drone', 'wine', 'jam']
# Type your code here.
gift_list.append("pajamas")


print(gift_list)

['socks', '4K drone', 'wine', 'jam', 'pajamas']

In [5]:
gift_list=['socks', '4K drone', 'wine', 'jam']
# Type your code here.
gift_list.append(["socks","tshirt","pajamas"])


print(gift_list)

['socks', '4K drone', 'wine', 'jam', ['socks', 'tshirt', 'pajamas']]

In [6]:
gift_list=['socks', '4K drone', 'wine', 'jam']
# Type your code here.
gift_list.insert(2,"slippers")


print(gift_list)

['socks', '4K drone', 'slippers', 'wine', 'jam']

In [7]:

lst=[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99]
#  Type your code here.

answer_1= lst.index(8679)

print(answer_1)

8

In [8]:
lst=["CRV", "Outback", "XC90", "GL", "Cherokee", "Escalade"]
#  Type your code here.
lst.append(["Navigator","Suburban"])


print(lst)

['CRV', 'Outback', 'XC90', 'GL', 'Cherokee', 'Escalade', ['Navigator', 'Suburban']]

In [9]:
lst=[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99]
#  Type your code here.

lst.remove(99)

print(lst)

[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123]

In [10]:
lst=[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99]
#  Type your code here.

lst.reverse()

print(lst)

[99, 123, 8679, 2, 1, 101, 76, 6, 54, 777, 55]

In [11]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]
#  Type your code inside print() function.

answer_1= lst.count(6)

print(answer_1)

4

In [12]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]

#  Type your code on line 4:
answer_1= sum(lst)

print(answer_1)

1090

In [13]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]

#  Type your code on line 4:
answer_1= min(lst)

print(answer_1)

1

In [14]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]

#  Type your code on line 4:
answer_1= max(lst)

print(answer_1)

777

Exercise 7-a

In [16]:
tt=(11, 100, 99, 1000, 999)

answer_1= tt[0]


print(answer_1)

11

In [17]:
tt=(11, 100, 101, 999, 1001)

#Type your answer here.

answer_1= tt[2]

print(answer_1)

101

In [18]:
lst=(11, 100, 101, 999, 1001)

#Type your answer here.

answer_1= lst[-2]

print(answer_1)

999

In [19]:
tt=(55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99)
#  Type your code here.

answer_1= tt.index(2)

print(answer_1)

7

In [21]:
tt=(55, 6, 777, 54, 6, 76, 7777, 1, 777, 2, 6)

#  Type your code here.

answer_1= tt.count(tt[2]) # tambien puede ser tt.count(700) pero así es mas dinamico.

print(answer_1)

2

In [22]:
tt=(42, 1092, 11, 88, 65, 2, 6)

#  Type your code on line 4:

ans_1= sum(tt)


print(ans_1)

1306

In [23]:
tt=(66, 555, 11, 101, 9, 1001)

#  Type your code on line 4:

ans_1= min(tt)


print(ans_1)

9

In [24]:
tt=(66, 555, 11, 101, 9, 1001)

#  Type your code on line 4:

ans_1= max(tt)


print(ans_1)

1001

In [25]:
dict={"name": "Plato", "country": "Ancient Greece", "born": -427, "teacher": "Socrates", "student": "Aristotle"}

#Type your answer below.
answer_1= dict["born"]

print(answer_1)

-427

In [26]:
dict={"name": "Plato", "country": "Ancient Greece", "born": -427, "teacher": "Socrates", "student": "Aristotle"}

#Type your answer below.
dict["born"] = -428

print(dict["born"])

-428

In [27]:
dict={"name": "Plato", "country": "Ancient Greece", "born": -427, "teacher": "Socrates", "student": "Aristotle"}

#Type your answer below.
dict["work"] = ["Apology", "Phaedo", "Republic", "Symposium"]


print(dict)

{'name': 'Plato', 'country': 'Ancient Greece', 'born': -427, 'teacher': 'Socrates', 'student': 'Aristotle', 'work': ['Apology', 'Phaedo', 'Republic', 'Symposium']}

In [28]:
dict={"son's name": "Lucas", "son's eyes": "green", "son's height": 32, "son's weight": 25}

#Type your answer below.

dict["son's height"] = dict["son's height"]+2

print(dict)

{"son's name": 'Lucas', "son's eyes": 'green', "son's height": 34, "son's weight": 25}

In [29]:
dict={"son's name": "Lucas", "son's eyes": "green", "son's height": 32, "son's weight": 25}

#Type your answer below.
ans_1= dict.items()

print(ans_1)

dict_items([("son's name", 'Lucas'), ("son's eyes", 'green'), ("son's height", 32), ("son's weight", 25)])

In [30]:
dict = {"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#Type your answer inside the print.
ans_1= dict.get("son's eye color")

print (ans_1)

green

In [31]:
dict={"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#Type your answer here.
ans_1= dict.get("son's age", 2)


print(ans_1)

2

In [33]:
dict={"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#Type your answer here.
ans_1= dict.get("son's age", 2)


print(ans_1)

dict["son's age"] = 2


print(dict)

2
{"son's name": 'Lucas', "son's eye color": 'green', "son's height": 32, "son's weight": 25, "son's age": 2}

In [34]:
dict={"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#clear the dictionary here then print it.

dict.clear()
print(dict)

{}

In [36]:
dict={"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#Write your answer here.
ans_1= max(dict)

print(ans_1)

son's weight

In [37]:
dict={"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#Write your answer here.
ans_1= len(dict)

print(ans_1)

4

Exercise 9-a

In [1]:
#Type your answer here.

str= "It's always darkest before dawn."

print(str)

It's always darkest before dawn.

In [2]:
str="It's always darkest before dawn."

#Type your answer here.

ans_1= str[0]+ str[1] + str[-1]

print(ans_1)

It.

In [3]:
str="It's always darkest before dawn."

#Type your code here.

str= str.replace(".","!")

print(str)

It's always darkest before dawn!

In [4]:
str="EVERY Strike Brings Me Closer to the Next Home run."
# Type your code here.

str= str.lower()


print(str)

every strike brings me closer to the next home run.

In [5]:
str="don't stop me now."
# Type your code here.

str= str.upper()

print(str)

DON'T STOP ME NOW.

In [6]:
str="there are no traffic JamS Along The extra mile."

#Type your answer here.

str= str.capitalize()

print(str)

There are no traffic jams along the extra mile.

In [7]:
str="There are no traffic jams along the extra mile."
#  Type your code here.

ans_1= str.startswith("A")


print(ans_1)

False

In [8]:
str="There are no traffic jams along the extra mile."
#  Type your code here.


ans_1= str.endswith(".")


print(ans_1)

True

In [9]:
str="The best revenge is massive success."

#  Type your code here.

ans_1= str.index("v")


print(ans_1)

11

In [10]:
str="The best revenge is massive success."

#  Type your code here.

ans_1= str.find("X")

print(ans_1)

-1

In [12]:
str="The best revenge is massive success."

#  Type your code here.

ans_1= str.index("X")

print(ans_1)

ValueError: substring not found

In [13]:
str="People often say that motivation doesn't last. Well, neither does bathing.  That's why we recommend it daily."
#  Type your code here.

ans_1= str.count("a")

ans_2= str.count("o")


print("count of a is: ", ans_1, " count of o is: ", ans_2)

count of a is:  7  count of o is:  7

In [15]:
str="People often say that motivation doesn't last. Well, neither does bathing.  That's why we recommend it daily."
#  Type your code here.

ans_1= str.count("Pe")

ans_2= str.count("o")


print("count of Pe is: ", ans_1, " count of o is: ", ans_2)

count of Pe is:  1  count of o is:  7

In [16]:
v_1="1"
v_2=1

#  Type your code on line 4:

ans_1= type(v_1)

ans_2= type(v_2)


print(ans_1)
print(ans_2)

<class 'str'>
<class 'int'>

In [17]:
str="1.975.000"

#  Type your code here:

ans_1= len(str)


print(ans_1)

9

Exercise 10-a

In [1]:
lst=[11, 10, 12, 101, 99, 1000, 999]

answer_1= len(lst)


print(answer_1)

7

In [ ]:
msg="Be yourself, everyone else is taken."
#Type your code here.

msg_length= len(msg)
#si se cuentan los espacios

print(msg_length)

In [2]:
dict={"Real Madrid": 13,"AC Milan": 7,"Bayern Munich":5 ,"Barcelona": 5, "Liverpool": 5}
#Type your answer here.

ans_1= len(dict)

print(ans_1)

5

In [3]:
gift_list=['socks', '4K drone', 'wine', 'jam']
# Type your code here.

index_no= len(gift_list)-1

ans_1= gift_list[index_no]


print(ans_1)

jam

In [4]:
gift_list=['4K drone', 'wine', 'jam', ['socks', 'pajamas', 'raincoat']]
# Type your code here.

ans_1= len(gift_list[-1][-1])

print(ans_1)

8

In [5]:
lst=[11, 100, 99, 1000, 999]

#Type your answer here.

lst.sort()

print(lst)

[11, 99, 100, 999, 1000]

In [6]:
lst=["Ukraine", "Japan", "Canada", "Kazakhstan", "Taiwan", "India", "Belize"]

#Type your code here.

lst.sort()

print(lst)

['Belize', 'Canada', 'India', 'Japan', 'Kazakhstan', 'Taiwan', 'Ukraine']

In [7]:
lst=[11, 100, 101, 999, 1001]

#Type your answer here.

lst.sort(reverse= -1)

print(lst)

[1001, 999, 101, 100, 11]

In [10]:
lst=[11, 100, 101, 999, 1001]

#Type your answer here.

lst.sort(reverse = True)

print(lst)

[1001, 999, 101, 100, 11]

In [11]:
gift_list=['socks', '4K drone', 'wine', 'jam']

# Type your answer here.

gift_list.sort(reverse = True)
print(gift_list)

['wine', 'socks', 'jam', '4K drone']

In [95]:
elc_members = ["Ana", "Sof","Diego","Chio","Lily","July","Pri","Montse","Carlos", "Vicky","Isaias", "Z","Gerry"]

In [104]:

def standup_order(elc_names,order):
    #print(elc_names)
    if order == "a_to_z":
        #print(elc_names)
        a = elc_names.sort()
    if order == "z_to_a":
        return elc_names.sort(reverse= True)
    if order == "random":
        return random.shuffle(elc_names)
    return a

In [97]:
elc_members

['Ana',
 'Sof',
 'Diego',
 'Chio',
 'Lily',
 'July',
 'Pri',
 'Montse',
 'Carlos',
 'Vicky',
 'Isaias',
 'Z',
 'Gerry']

In [105]:
standup_order(elc_members,"a_to_z")

In [99]:
elc_members

['Ana',
 'Carlos',
 'Chio',
 'Diego',
 'Gerry',
 'Isaias',
 'July',
 'Lily',
 'Montse',
 'Pri',
 'Sof',
 'Vicky',
 'Z']

In [100]:
standup_order(elc_members,"z_to_a")

In [101]:
elc_members

['Z',
 'Vicky',
 'Sof',
 'Pri',
 'Montse',
 'Lily',
 'July',
 'Isaias',
 'Gerry',
 'Diego',
 'Chio',
 'Carlos',
 'Ana']

In [109]:
standup_order(elc_members,"random")

In [110]:
elc_members

['Vicky',
 'Sof',
 'Isaias',
 'Gerry',
 'Carlos',
 'Pri',
 'July',
 'Chio',
 'Diego',
 'Ana',
 'Z',
 'Montse',
 'Lily']