# Data Types in Python

More on data types: https://www.w3schools.com/python/python_datatypes.asp

### Determining variable type with type()

Python's built-in type() function. Common data types include:

- int (for integer)
- float
- str (for string)
- list
- tuple
- dict (for dictionary)
- set
- bool (for Boolean True/False)

## Numbers

### Types of numbers

We'll focus on integers and floating point numbers.

Integers are just whole numbers, positive or negative. For example: 7 and -7 are examples of integers.

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 7.0 and -7.1 are examples of floating point numbers

### Basic Arithmetic

In [3]:
# Addition
# This is a comment
2+1

3

In [2]:
# Subtraction
2-1

1

In [3]:
# Multiplication
2*2

4

In [4]:
# Division
3/2

1.5

In [4]:
# Floor Division 
# The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.
7//4

1

In [5]:
# Modulo
# The % operator returns the remainder after division.
7%4

3

### Order of Operations

https://runestone.academy/ns/books/published/thinkcspy/SimplePythonData/OrderofOperations.html

## Variables

### Assigning variables

In [7]:
a = 5

In [8]:
a+a

10

In [9]:
a

5

In [10]:
# Reassignment
a = 10

In [11]:
a

10

In [12]:
a = a + a

In [13]:
a

20

In [14]:
# a = a + 10
a += 10

In [17]:
a

60

In [18]:
# a = a * 2
a *= 2

In [19]:
a

120

In [20]:
type(a)

int

In [21]:
a = "Any word"

In [22]:
a

'Any word'

In [23]:
type(a)

str

1. Names can not start with a number.
2. There can be no spaces in the name, use _ instead.
3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
4. It's considered best practice (PEP8) that names are lowercase.
5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
   or 'I' (uppercase letter eye) as single character variable names.
6. Avoid using words that have special meaning in Python like "list" and "str"

In [25]:
1new_value = 123

SyntaxError: invalid syntax (2789110318.py, line 1)

In [26]:
new value = 123

SyntaxError: invalid syntax (1323112735.py, line 1)

# Strings

**Unmutable**

In [35]:
'Hello World'

'Hello World'

In [91]:
" Hello World "

' Hello World '

In [92]:
test_1 = "Hello"

In [95]:
test_2 = " Hello "

In [93]:
len(test_1)

5

In [96]:
len(test_2)

7

In [37]:
who_you_are = 'I'm Sofia

SyntaxError: invalid syntax (981311792.py, line 1)

In [29]:
# Escaping the character
# backslash - backward slash
'I\'m Sofia'

"I'm Sofia"

In [38]:
who_you_are = "I'm Sofia"

### Print Statement

In [41]:
#  Best Friend Forever

print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?

In [30]:
print("Hi")

Hi

In [31]:
name = "Sofia"

In [36]:
print(name)

Chio

In [33]:
name = "Mon"

In [35]:
name = "Chio"

## String Basic Methods

In [39]:
len("Hello World in Python")

21

In [45]:
type(not_number)

str

In [46]:
len(not_number)

3

In [44]:
not_number = "123"

In [50]:
phrase = "Jello World"

In [48]:
print(phrase)

Hello World

In [43]:
len(s)

11

In [ ]:
# Print the object
print(s)

## Index

**Position**

In [51]:
phrase[0]

'J'

In [52]:
phrase[1]

'e'

In [53]:
phrase[5]

' '

In [56]:
phrase[3:]

'lo World'

In [61]:
phrase[:6]

'Jello '

In [62]:
phrase[:]

'Jello World'

In [65]:
phrase[-3]

'r'

In [69]:
phrase[::4]

'Jor'

In [71]:
# [starting position : finsih position : number of positions to jump by]
phrase[1:5:2]

'el'

In [72]:
ticket = "ticket12032456"

In [78]:
ticket_number = ticket[6:]

In [79]:
ticket_number

'12032456'

In [80]:
phrase[::-1]

'dlroW olleJ'

## String Properties

It's important to note that strings have an important property known as immutability. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [81]:
phrase[0] = 'H'

TypeError: 'str' object does not support item assignment

In [82]:
number = 1

In [86]:
name = "Mon"

In [88]:
name = "Ana"

In [90]:
name[0] = E

NameError: name 'E' is not defined

In [85]:
print(number)

2

In [89]:
print(name)

Ana

In [84]:
number = 2

In [97]:
phrase + " in Python"

'Jello World in Python'

In [98]:
phrase

'Jello World'

In [99]:
new_phrase = phrase + " in Python"

In [100]:
print(new_phrase)

Jello World in Python

In [101]:
print(phrase)

Jello World

In [103]:
letter = "hola"

In [104]:
letter*10

'holaholaholaholaholaholaholaholaholahola'

## Basic Built-in String methods

In [61]:
s.upper()

'HELLO WORLD IN PYTHON'

In [62]:
s.lower()

'hello world in python'

In [63]:
s.split()

['Hello', 'World', 'in', 'Python']

In [64]:
s.split('W')

['Hello ', 'orld in Python']

In [65]:
"Insert another string with curly brackets: {}".format("The inserted string")

'Insert another string with curly brackets: The inserted string'

There are three ways to perform string formatting.

The oldest method involves placeholders using the modulo % character.
An improved technique uses the .format() string method.
The newest method, introduced with Python 3.6, uses formatted string literals, called f-strings.

In [66]:
name = "Sofia"

print(f"She said his name is {name}.")

He said his name is Sofia.

In [67]:
print(f"He said his name is {name!r}")

He said his name is 'Sofia'