1. Answer these 3 questions without typing code. Then type code to check your answer.

What is the value of the expression 4 * (6 + 5) = 44

What is the value of the expression 4 * 6 + 5  = 29

What is the value of the expression 4 + 6 * 5  =34

2. Store each result in a variable and obtain the data type

In [1]:
4*(6+5)

44

In [2]:
4*6+5

29

In [3]:
4+6*5

34

In [25]:
a=4*(6+7)

In [26]:
a

52

In [27]:
b=4*6+5

In [28]:
b

29

In [32]:
c=4+6*5.5

In [33]:
c

37.0

In [34]:
type(c)

float


3. Print out 'e' using indexing

s = "hello"

In [5]:
s= "hello"

In [10]:
s[1]

'e'

4. Reverse the string using slicing

In [12]:
s[::-1]

'olleh'

5. Print out the 'o'

   Method 1:
   
   Method 2:

In [13]:
s[4]

'o'

In [16]:
s.split("hell")

['', 'o']

In [35]:
s[-1]

'o'

In [40]:
s[4:]

'o'

Variable:

In [5]:
my_name = "Reasign it with your full name"

6 . Reassign the variable

In [17]:
my_name="Ana Haza"

7.Transform it to upper case

In [19]:
my_name.upper()

'ANA HAZA'

8.Transform it to lower case

In [20]:
my_name.lower()

'ana haza'

9.Reassign the variable with a list of your name by splitting it

In [43]:
my_name.split("n")

['A', 'a Haza']

10.Variables containing numbers are mutable?  true

11.Variables containing strings are inmutable?  false