# Data Types in Python

## Lists

**Mutable**

Lists are constructed with brackets [] and commas separating every element in the list.

In [1]:
my_list = [1,2,3]

In [2]:
my_list

[1, 2, 3]

In [3]:
# Reassinging
my_list = ['A string',"hello",23,100.232,'o',963]

In [4]:
my_list

['A string', 'hello', 23, 100.232, 'o', 963]

In [5]:
len(my_list)

6

In [12]:
my_list = ['one','two','three',4,5]

## Indexing

In [14]:
my_list[-1]

5

## Slicing

In [15]:
my_list[1:]

['two', 'three', 4, 5]

In [16]:
my_list[:3]

['one', 'two', 'three']

In [17]:
a = "string 1"

In [18]:
a + " another string"

'string 1 another string'

In [19]:
my_list + ["new item"]

['one', 'two', 'three', 4, 5, 'new item']

In [20]:
my_list + [1]

['one', 'two', 'three', 4, 5, 1]

In [21]:
my_list

['one', 'two', 'three', 4, 5]

In [22]:
my_list = my_list + ['add new item permanently']

In [23]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [10]:
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanently']

In [11]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

## Basics Methods

In [15]:
# Create a new list
list1 = [1,2,3]

In [16]:
list1

[1, 2, 3]

In [17]:
# Append
list1.append(4)

In [18]:
list1

[1, 2, 3, 4]

In [14]:
# Show
list1

[1, 2, 3, 'append me!']

In [19]:
# Pop off the 0 indexed item
list1.pop(0)

1

In [20]:
# Show
list1

[2, 3, 4]

In [13]:
list1.pop(2)

'append me!'

In [14]:
list1

[2, 3]

In [21]:
#Assign the popped element, remember default popped index is -1
popped_item = list1.pop()

In [22]:
popped_item

4

In [20]:
# Show remaining list
list1

[2, 3]

In [29]:
new_list = ['a','e','x','b','c','z']

In [30]:
#Show
new_list

['a', 'e', 'x', 'b', 'c', 'z']

In [26]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [24]:
new_list

['c', 'b', 'x', 'e', 'a']

In [32]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [33]:
new_list

['a', 'b', 'c', 'e', 'x', 'z']

In [38]:
new_letter = new_list[0]

In [39]:
new_letter

'a'

In [43]:
new_list.reverse()

In [44]:
new_list

['z', 'x', 'e', 'c', 'b', 'a']

In [46]:
new_letter

'z'

In [45]:
new_letter = new_list[0]

## Nesting Lists

A great feature of of Python data structures is that they support nesting. This means we can have data structures within data structures. For example: A list inside a list.

In [47]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [49]:
lst_1

[1, 2, 3]

In [50]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [54]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [59]:
# Grab first item of the first item in the matrix object
matrix[2][0]

7

In [61]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## List Comprehensions

In [64]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[1] for row in matrix]

In [65]:
first_col

[2, 5, 8]

We used a list comprehension here to grab the first element of every row in the matrix object.